[submodule "sisyphus"]
	path = sisyphus
	url = https://github.com/traP-jp/sisyphus.git
[submodule "hermes"]
	path = hermes
	url = https://github.com/traP-jp/hermes.git
[submodule "demeter"]
	path = demeter
	url = https://github.com/traP-jp/demeter.git
